* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    font-size: medium;
}

body {
    background-color: #d7d7cd;
    position:relative;
}

.app-container {
    background-color: #2ea56e;
    width: 100vw;
    height: 15vh;
}

.chat-container {
    padding-left: 5vw;
    padding-top: 2vh;
    display: flex;
    height: 94vh;
    width: 95vw;
    position: absolute;
    top: 38px;
    
}

.right-panel {
    width: 70%;
    min-width: 30vw;
    background-image: url(./assets/chatbg.png);
}

.left-panel {
    height: 100%;
    width: 30%;
    background-color: white;
}

.right-panel > header {
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-panel > footer {
    background-color: rgb(237, 237, 237);
}

.chat-window-other-options {
    display: flex;
    align-items: center;
}

.chat-window-other-options > img {
    height: 20px;
    width: 20px;
}

.receiver-data {
    display: flex;
    align-items: center;
}

.second-user {
    margin: 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border: 5px solid white;
}

.left-panel > header {
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #ececec;
}

.left-panel > header > img {
    margin: 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border: 5px solid white;
}

.notification-cluster > img {
    margin: 15px;
    height: 20px;
    align-items: center;
    width: 20px;
    object-fit: cover;
    cursor: pointer;
}

.warning-notification {
    background-color: #97e4fb;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #97e4fb;
}

.notification-icon {
    height: 45px;
    width: 45px;
    margin: 20px;
    cursor: pointer;
}

.close-icon {
    position: relative;
    bottom: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.search-user {
    background-color: #ffffff;
    width: 20vw;
    height: 100%;
    padding: 8px;
}

.search-box {
    background-color: #f3e9f0;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 26vw;
}

.search-icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.right-panel > footer {
    position: fixed;
    bottom: 2px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}

.attach-icon {
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-bottom: 0;
    
}

.text-message-area {
    width: 55vw;
    padding: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
}

.text-message-area:focus {
    outline: none;
}

.send-icon {
    width: 30px;
    height: 30px;
    margin:5px;
}

.search-box {
    border: none;
}

.search-box:focus {
    outline: none;
}

.sidebar {}

.chat-card {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-bottom: rgba(0,0,0,0.4);
    border-radius: 5px;
    cursor: pointer;
}

.chat-card:hover {
    background: #e6e6e6;
}

.chat-card img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-details {
    flex-grow: 1;
}

.chat-name {
    font-weight: bold;
}

.chat-message {
    font-size: 0.9rem;
    color: gray;
}

.chat-time{
    color: rgba(0,0,0,0.4);
}

.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 70%;
    display: flex;
    flex-direction:column-reverse    
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.received {
    background-color: #ffffff;
    align-self: flex-start;
}

/* Mobile devices */
@media (max-width: 600px) {
    .chat-container {
        flex-direction: column;
        padding-left: 2vw;
        padding-top: 2vh;
    }

    .right-panel > footer {
        height: auto;
        width: auto;
        position: relative;
        top: 75vh;
    }
    .right-panel {
        width: 100%;
        min-width: 100%;
        height: 95vh;
    }

    .left-panel {
        display:none;
    }

    .text-message-area {
        width: 56vw;
    }

    .search-box {
        width: 90%;
    }

    .chat-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .chat-card img {
        width: 25px;
        height: 25px;
    }

    .chat-name {
        font-size: 1rem;
    }

    .chat-message {
        font-size: 0.8rem;
    }
}

/* Tablet devices */
@media (min-width: 600px) and (max-width: 1024px) {
    .chat-container {
        flex-direction: column;
        padding-left: 3vw;
    }

    .left-panel{
        display: none;
    }
    .right-panel {
        width: 100%;
        height: 70vh;
    }

    .left-panel {
        width: 100%;
        height: 30vh;
    }

    .text-message-area {
        width: 85vw;
    }

    .search-box {
        width: 85%;
    }

    .chat-card {
        flex-direction: row;
        justify-content: flex-start;
    }

    .chat-card img {
        width: 30px;
        height: 30px;
    }

    .chat-name {
        font-size: 1.2rem;
    }

    .chat-message {
        font-size: 1rem;
    }
}
